<!doctype html>
<style>
	* {
	  box-sizing: border-box;
	}
	
	.column {
	  float: left;
	  width: 33.33%;
	  padding: 5px;
	}
	
	/* Clearfix (clear floats) */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}
</style>
<title>Banner checking</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<form method="post">
	<label for="url">URL:</label>
	<input type="text" id="url" name="fname" placeholder="http://">
	<button type="submit">Submit</button>
</form>
{% if rootimage %}
<div class="row">
	<div class="column">
	  	<img src="{{rootimage}}" style="width:100%">
	</div>
</div>
{% endif %}
{% if lst_result %}
<div class="row">
	<div class="column">
	  	<img src="{{lst_result[0][0]}}" alt="{{lst_result[0][1]}}" style="width:100%">
		<figcaption>{{lst_result[0][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[1][0]}}" alt="{{lst_result[1][1]}}" style="width:100%">
		  <figcaption>{{lst_result[1][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[2][0]}}" alt="{{lst_result[2][1]}}" style="width:100%">
		  <figcaption>{{lst_result[2][1]}}</figcaption>
	</div>
</div>
<div class="row">
	<div class="column">
	  	<img src="{{lst_result[3][0]}}" alt="{{lst_result[3][1]}}" style="width:100%">
		  <figcaption>{{lst_result[3][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[4][0]}}" alt="{{lst_result[4][1]}}" style="width:100%">
		  <figcaption>{{lst_result[4][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[5][0]}}" alt="{{lst_result[5][1]}}" style="width:100%">
		  <figcaption>{{lst_result[5][1]}}</figcaption>
	</div>
</div>
<div class="row">
	<div class="column">
	  	<img src="{{lst_result[6][0]}}" alt="{{lst_result[6][1]}}" style="width:100%">
		  <figcaption>{{lst_result[6][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[7][0]}}" alt="{{lst_result[7][1]}}" style="width:100%">
		  <figcaption>{{lst_result[7][1]}}</figcaption>
	</div>
	<div class="column">
	  	<img src="{{lst_result[8][0]}}" alt="{{lst_result[8][1]}}" style="width:100%">
		  <figcaption>{{lst_result[8][1]}}</figcaption>
	</div>
</div>
{% endif %}
<!-- {% if filename %}
	<div style="text-align: center; position: relative;">
		<img src="{{filename}}" width="500">
	</div>
{% endif %}
{% if filename2 %}
	<div style="text-align: center; position: relative;">
		<img src="{{filename2}}" width="500">
	</div>
{% endif %}
{% if filename1 %}
	<div style="text-align: center; position: relative;">
		<img src="{{filename1}}" width="500">
	</div>
{% endif %} -->


